body{
    height: 100%;
}
main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
a{
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.panel{
    border-left: 1px solid white;
    border-right: 1px solid white;
    transition: 0.2s;
}
.panel:hover{
    background-color: #606060;
}