main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}
.results{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.pages{
    width: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 2rem;
}
.text{
    display: flex;
    box-sizing: border-box;
    width: 40%;
    margin-top: 40px;
    padding: 20px;
    text-align: center;
    justify-content: center;
    line-height: 1.5rem;
}