*{
    font-family: sans-serif;
    color: white;
}

html {
    height: 100%;
}

body {
    background-image: linear-gradient(30deg, #ff6200 12%, transparent 12.5%, transparent 87%, #ff6200 87.5%, #ff6200), linear-gradient(150deg, #ff6200 12%, transparent 12.5%, transparent 87%, #ff6200 87.5%, #ff6200), linear-gradient(30deg, #ff6200 12%, transparent 12.5%, transparent 87%, #ff6200 87.5%, #ff6200), linear-gradient(150deg, #ff6200 12%, transparent 12.5%, transparent 87%, #ff6200 87.5%, #ff6200), linear-gradient(60deg, rgba(255,98,0,0.5) 25%, transparent 25.5%, transparent 75%, rgba(255,98,0,0.5) 75%, rgba(255,98,0,0.5)), linear-gradient(60deg, rgba(255,98,0,0.5) 25%, transparent 25.5%, transparent 75%, rgba(255,98,0,0.5) 75%, rgba(255,98,0,0.5));
    background-size: 80px 140px;
    background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
    background-color: #ab00ff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    min-width: 600px;
    overflow-y: auto;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

h4{
    font-size: 1rem;
    color: #ff4a4a;
    margin: 0;
}

.blur_background {
    background-color: #ffffff60;
    backdrop-filter: blur(0.6rem);
}

.border {
    border: 2px solid white;
    border-radius: 20px;
}

nav {
    width: 100%;
    height: 3rem;
    display: flex;
    flex-direction: row;
    background-color: rgba(204, 204, 204, 0.5);
    border-bottom: 1px solid white;
    position: fixed;
    top: 0;
    min-width: 600px;
    z-index: 1;
}

nav a {
    text-decoration: none;
    color: white;
}

.tabs{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.tab div {
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    transition: 0.2s;
}

.tab:hover div {
    background-color: rgba(204, 204, 204, 0.5);
}

.logo{
}

.appearance_modes{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    right: 1rem;
}

.dark_mode{
    background: #909090;
    border: 1px solid white;
    height: 1rem;
    width: 1rem;
}

.normal_mode{
    background-image: linear-gradient(45deg, #ab00ff, #ff6200);
    border: 1px solid white;
    height: 1rem;
    width: 1rem;
}

::placeholder {
    color: rgba(255,255,255,0.3);
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.hidden{
    display: none;
}

.outline {
    text-shadow: -1px -1px 0 #202020,
    1px -1px 0 #202020,
    -1px 1px 0 #202020,
    1px 1px 0 #202020;
}
@media print {
    *{
        color: black;
        border: none;
    }
    nav {
        display: none;
    }
    body {
        font-size: 10pt;
    }
}