.quiz_form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.headline{
    margin-top: 3rem;
}
.quiz_3q{
    display: flex;
    box-sizing: border-box;
    width: 40%;
    min-width: 400px;
    margin-top: 40px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 20px;
}
.quiz_4q{
    display: flex;
    box-sizing: border-box;
    width: 40%;
    min-width: 400px;
    margin-top: 40px;
    padding: 20px;
    justify-content: space-between;
    align-items: stretch;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 20px;
}
.quiz_submit_button{
    display: flex;
    box-sizing: border-box;
    width: 40%;
    margin: 40px;
    padding: 20px;
    align-items: center;
    transition: 0.2s;
}
.quiz_submit_button:has(.submit_answer:hover){
    box-shadow: 0 0 8px 3px #ffffff;
}
.question{
    flex-grow: 1;
    text-align: center;
}
.answer_option_4q{
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    transition: 0.2s;
}
.answer_option_4q *{
    padding: 20px;
}
.answer_option_4q:hover{
    box-shadow: 0 0 8px 3px #ffffff;
}
.answer_option_4q input{
    display: none;
    text-align: center;
}
.answer_option_4q:has(input:checked){
    box-shadow: 0 0 8px 3px #ffffff;
    background-color: #606060;
}
.answer_option_4q:has(input:disabled){
    border: 2px solid red;
}
.answer_option_4q:has(input:disabled):hover{
    box-shadow: none;
}
.answer_option_3q{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
}
.answer_option_3q *{
    padding: 20px;
}
.answer_option_3q:hover{
    box-shadow: 0 0 8px 3px #ffffff;
}
.answer_option_3q input{
    display: none;
    text-align: center;
}
.answer_option_3q:has(input:checked){
    box-shadow: 0 0 8px 3px #ffffff;
    background-color: #606060;
}
.answer_option_3q:has(input:disabled){
    color: #202020;
    background-color: #606060;
}
.answer_option_3q:has(input:disabled):hover{
    box-shadow: none;
}
.answer_text{
    text-align: center;
}
.submit_answer{
    width: 100%;
    height: 60px;
    background-color: transparent;
    font-size: 2rem;
    transition: 0.2s;
    border: none;
}

.number_output{
    outline: none;
    border: none;
    background-color: transparent;
    text-align: right;
}

.range_input {
    width: 100%;
}

.quiz_answeres_fix_4q{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 20px;
}
.quiz_answeres_fix_3q{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 20px;
 }
.answer_all_question{
    margin-top: 5rem;
    margin-bottom: 0;
}
@media print {
    .quiz_form{
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
    }
    .answer_option_4q:has(input:disabled){
        border: none;
    }
    .quiz_4q{
        display: flex;
        box-sizing: border-box;
        width: 40%;
        margin-top: 40px;
        padding: 20px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        row-gap: 20px;
    }
    .answer_option_4q{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .quiz_submit_button{
        display: none;
    }
    .quiz_answeres_fix_3q:first-child{
        border-bottom: 1px solid black;
    }
}