.content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.headline{
    margin-top: 3rem;
}
.text{
    display: flex;
    box-sizing: border-box;
    width: 40%;
    margin-top: 40px;
    padding: 20px;
    text-align: center;
    line-height: 1.5rem;
}
@media print {
    .text{
        width: 80%;
    }
}