body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    top: 3rem;
}
.white_logo{
}
.login{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 40px;
}
.login form{
    width: 100%;
}
.align_in_row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.align_center{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.input{
    width: 400px;
    height: 60px;
    background: rgba(217, 217, 217, 0.3);
    border: 3px solid #FFFFFF;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    padding-left: 10px;
}
.message{
    text-align: center;
}
.submit button{
    width: 100%;
    height: 60px;
    background: rgba(217, 217, 217, 0.3);
    border: 3px solid #FFFFFF;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    transition: 0.2s;
}
.submit :hover{
    box-shadow: 0 0 10px white;
}
.submit button :hover{
    box-shadow: none;
}
.registration{
    position: relative;
    top: 20px;
}
.registration a{
    font-size: 20px;
    opacity: 70%;
}
.reg_link a{
    opacity: 100%;
    color: white;
    font-weight: bold;
}
.pad{
    padding: 5px;
    width: 100%;
}
.wrong{
    border: 3px solid red;
}